.certificates-page-entry-con{
	text-align: center;
	padding: 100px 0 40px;

}
.certificates-page-entry-con p{
	font-size: 18px;
	line-height: 34px;
}
.certificates-page-con{
	background: #e8e9ed;
	margin: 0 60px;
	border-radius: 12px;
	padding: 140px 0 65px;
}
.certificates-page-con-controller ul li{
	padding-bottom: 50px;
}
.certificates-item-row{
	position: relative;
	padding: 10px 0 0 230px;
}
.certificates-item-row-logo{
	position: absolute;
	left: 0;
	top: 0;
	width: 176px;
	text-align: center;
}
.certificates-item-row p{
	margin-bottom: 30px;
}

.certificates-item-row-des strong{
	display: block;
	font-size: 30px;
	line-height: 35px;
    font-family: 'RobotoBlack';	
    padding-bottom: 20px;
}
.certificates-item-row-des strong span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}




@media(max-width: 1199px){
	.certificates-page-con{
		margin: 0 30px;
		padding: 100px 0 25px;
	}

}


@media(max-width: 991px){
	.certificates-page-con{
		margin: 0 15px;
	}	
	.certificates-item-row{
		padding-left: 200px;
	}
	.certificates-item-row-des strong {
	    font-size: 26px;
	    line-height: 32px;
	    padding-bottom: 17px;
	}
	.certificates-page-entry-con {
	    text-align: center;
	    padding: 60px 0 20px;
	}
}


@media(max-width: 767px){
	.certificates-page-entry-con p{
		line-height: 29px;
	}
	.certificates-item-row-logo{
		position: static;
		margin-bottom: 20px;
		width: auto;
	}
	.certificates-item-row{
		text-align: center;
		padding-left: 0;
	}
	.certificates-page-entry-con p br{
		display: none;
	}
	.certificates-item-row-des strong {
	    font-size: 24px;
	    line-height: 27px;
	    padding-bottom: 15px;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	

}


@media(max-width: 479px){


}



@media(max-width: 359px){

}