/*
-----------------------
cb-product-details-sec-wrp
-----------------------
*/
.cb-product-details-sec-wrp {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 60px;
    z-index: 3;
}
.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
    right: 0;
    bottom: -234px;
}
.cb-product-details-sec-wrp .ec-product-details-dsc p:first-of-type {
    margin-bottom: 25px;
}
.cb-product-details-sec-wrp .ec-product-icon {
    padding-top: 30px;
}
.cb-product-details-sec-wrp .ec-product-details-dsc p{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
.ppaperboard-contain-ctlr,
.pcontainerboard-contain-ctlr,
.psolid-boards-con-ctrl,
.ppremium-paperboard-con-ctrl,
.ptissue-semi-contain-ctlr{
	margin-top: -14px;
}
.pspecialty-papers-con-ctrl{
	margin-top: -14px;
}
.ppaperboard-contain-ctlr .ec-product-details-left ,
.pcontainerboard-contain-ctlr .ec-product-details-left,
.psolid-boards-con-ctrl .ec-product-details-left{
	padding-bottom: 80px;
}

.pcontainerboard-contain-ctlr .ec-product-rgt-bg-icon {
    right: 0;
    bottom: -237px;
}
.psolid-boards-con-ctrl .ec-product-details-sec-wrp{
	margin-bottom: 70px;
}
.ppremium-paperboard-con-ctrl .ec-product-details-sec-wrp{
	margin-bottom: 70px;
}
.ppremium-paperboard-con-ctrl  .ec-product-details-left{
	padding-bottom: 45px;
}
.ppremium-paperboard-con-ctrl .ec-product-rgt-bg-icon{
	bottom: 6px;
}
.ptissue-semi-contain-ctlr .ec-product-details-left{
	padding-bottom: 65px;
}

.pcontainerboard-contain-ctlr .cb-two-grid-dsc-rgt,
.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt{
	padding-left: 145px;
}
.pcontainerboard-contain-ctlr .cb-two-grid-dsc-lft,
.pcontainerboard-contain-ctlr .cb-two-grid-dsc-rgt{
	padding-bottom: 90px;
}
.ptissue-semi-contain-ctlr .cb-two-grid-dsc-lft,
.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt{
	padding-bottom: 150px;
}
/*
--------------------
cb-two-grid-sec-wrp
--------------------
*/
.cb-two-grid-sec-wrp {
    padding: 0 60px;
    position: relative;
    z-index: 2;
}
.productPage-slc-wrp.productPage-slc-wrp-2{
	top: -20px;
}

.cb-two-grid-dsc-lft-con{
	width: 50%;
	float: left;
	background: #e8e9ed;
	border-radius: 12px 0 0 15px;
}
.cb-two-grid-dsc-lft{
	padding: 120px 215px 180px 15px;
	float: right;
	max-width: 640px;
	width: 100%;
}
.cb-two-grid-dsc-lft h6{
	margin: 0;
	font-size: 22px;
	line-height: 24px;
	color: #002854;
	margin-bottom: 10px;
	font-family: 'RobotoBlack';
}
.cb-two-grid-dsc-rgt p,
.cb-two-grid-dsc-lft p{
	margin-bottom: 35px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
}
.cb-two-grid-dsc-rgt p strong,
.cb-two-grid-dsc-lft p strong{
	display: inline-block;
	vertical-align: baseline;
}
.cb-two-grid-dsc-rgt > strong,
.cb-two-grid-dsc-lft > strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 8px;
	font-size: 16px;
	line-height: 18px;
	color: #000417;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
}
.cb-two-grid-dsc-rgt ul,
.cb-two-grid-dsc-lft ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
}
.cnb-two-grid-sec .cb-two-grid-dsc-rgt ul{
	padding-bottom: 40px;
}
.cb-two-grid-dsc-rgt ul li,
.cb-two-grid-dsc-lft ul li{
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	padding-left: 25px;
	padding-bottom: 10px;
	background: url(../images/product-ary-icon.png);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	font-family: 'Roboto Condensed', sans-serif;
} 
.pb-two-grid-sec .cb-two-grid-dsc-lft ul li{
	color: #000;
}
.pb-two-grid-sec .cb-two-grid-dsc-lft ul {
    padding-bottom: 34px;
}
.pb-two-grid-sec .cb-two-grid-dsc-lft p:last-of-type{
	margin-bottom: 25px;
}
.pb-two-grid-sec .cb-two-grid-dsc-rgt p{
	margin-bottom: 40px;
}
.pb-two-grid-sec .cb-two-grid-dsc-rgt p {
    margin-bottom: 50px;
}
.pb-two-grid-sec .cb-two-grid-dsc-rgt p:first-of-type{
    margin-bottom: 40px;
}
.pb-two-grid-sec .cb-two-grid-dsc-rgt ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
}
.cb-two-grid-dsc-rgt-con{
	width: 50%;
	float: right;
	background: #002854;
	border-radius:0 12px 12px 0;
}
.cb-two-grid-dsc-rgt {
    color: #fff;
    padding: 120px 15px 72px 205px;
    max-width: 670px;
    width: 100%;

}
.cb-two-grid-dsc-rgt > strong{
	color: #fff;
}

/*
----------------
tsf-two-grid-dsc-lft
-----------------
*/
.tsf-two-grid-dsc-rgt p,
.tsf-two-grid-dsc-lft p{
	margin-bottom: 0;
}
.tsf-two-grid-dsc-lft p{
	color: #000;
}
.tsf-two-grid-dsc-lft h6:last-of-type{
	margin-top: 45px !important;
}
.tsf-two-grid-dsc-rgt h6{
	margin-top: 40px;
}
.tsf-two-grid-dsc-rgt h6:first-of-type{
	margin-top: 0;
}
.cb-two-grid-dsc-rgt span,
.pb-grid-dsc-lft span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 17px;
	color: #000417;
	font-weight: 400;
}
.cb-two-grid-dsc-rgt span{
	color: #fff;
}
.cb-two-grid-controller{
	position: relative;
}
.box-packaging-img {
    position: absolute;
    left: 50%;
    top: -55px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

@media(max-width: 1599px){
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-lft, 
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt,
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-lft, 
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-rgt{
		padding-left: 50px;
		padding-right: 50px;
		max-width: 500px;
		float: left;
	}

}


@media(max-width: 1499px){
	.cb-two-grid-sec-wrp {
	    padding: 0 20px;
	}
	.cb-two-grid-dsc-rgt {
	    padding: 120px 15px 72px 160px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 120px 150px 180px 15px;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
	    right: 0;
	    bottom: -215px;
	    max-width:350px;
	    height: 300px; 
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
	    right: 0;
	    bottom: -145px;
	}
	.cb-two-grid-dsc-rgt {
	    padding: 100px 15px 72px 70px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 100px 80px 140px 55px;
	}
	.box-packaging-img {
	    top: -18px;
	    max-width: 128px;
	    width: 100%;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon{
		display: none;
	}
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-lft, 
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt,
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-lft, 
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-rgt{
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.cb-two-grid-dsc-rgt {
	    padding: 80px 30px 72px 30px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 80px 30px 100px 30px;
	}
	.box-packaging-img{
		display: none;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
	    right: -45px;
	    bottom: -145px;
	}
	.cb-product-details-sec-wrp {
	    margin-top: 0;
	    margin-bottom: 0;
	    padding: 50px 0;
	}
	.ppaperboard-contain-ctlr .ec-product-details-left, 
	.pcontainerboard-contain-ctlr .ec-product-details-left{
		padding-bottom: 0;
	}
	.cb-two-grid-sec-wrp{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.ec-product-details-img{
		background:transparent!important;
	}
	.psolid-boards-con-ctrl .ec-product-details-sec-wrp,
	.ppremium-paperboard-con-ctrl .ec-product-details-sec-wrp {
	    margin-bottom: 0;
	}
	.ppaperboard-contain-ctlr .ec-product-details-left, 
	.pcontainerboard-contain-ctlr .ec-product-details-left,
	 .psolid-boards-con-ctrl .ec-product-details-left {
	    padding-bottom: 40px;
	}
	.ec-product-rgt-bg-icon{
		display: none!important;
	}
	.ppremium-paperboard-con-ctrl .ec-product-details-dsc,
	.pspecialty-papers-con-ctrl .ec-product-details-dsc,
	.pcontainerboard-contain-ctlr .ec-product-details-dsc{
		padding-right: 15px;
	}
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.cb-two-grid-dsc-lft-con {
	    width: 100%;
	    float: left;
	    border-radius: 0;
	}
	.cb-two-grid-dsc-rgt-con {
	    width: 100%;
	    float: right;
	    border-radius: 0;
	}
	.cb-two-grid-controller .col-sm-6{
		position: static !important;
	}
	.cb-two-grid-dsc-lft {
	    width: 100%;
	    float: left;
	}
	.tsf-two-grid-dsc-lft{
	    max-width: 520px;
	    padding-right: 10px;
	    width: 100%;
	}
	.tsf-two-grid-dsc-rgt {
	    padding: 80px 10px 72px 30px;
	    max-width: 520px;
	}
	.cb-two-grid-sec-wrp {
	    margin-bottom: 0;
	}
	.cb-two-grid-btn {
	    max-width: 235px;
	    width: 100%;
	    margin-top: -30px;
	    bottom: 10px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft{
		top: 0;
	}
	.cb-two-grid-sec-wrp .productPage-slc-wrp {
	    position: static;
	    padding-top: 20px;
	}
	.cb-two-grid-dsc-lft h6 br{
		display: none;
	}
	.cb-two-grid-dsc-rgt p br,
	.cb-two-grid-dsc-lft p br{
		display: none;
	} 
	.cnb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 20px;
	    max-width: 600px;
	    width: 100%;
	}
	.cnb-two-grid-sec .cb-two-grid-dsc-rgt {
	    padding: 50px 15px 50px 30px;
	}
	.ec-product-details-rgt{
		padding-left: 15px;
		padding-right: 15px;
	}
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-lft, 
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt,
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-lft, 
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-rgt{
		padding-left: 15px;
		padding-right: 15px;
	}
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-lft,
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt {
	    padding-bottom: 100px;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.tsf-two-grid-dsc-lft h6:last-of-type {
	    margin-top: 20px !important;
	}
	.tsf-two-grid-dsc-rgt h6 {
	    margin-top: 20px;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
	    bottom: -100px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 60px 15px 60px 15px;
	}
	.tsf-two-grid-dsc-rgt {
	    padding: 60px 10px 55px 0;
	    max-width: 415px;
	    width: 100%;
	    bottom: 35px;
	}
	.tsf-two-grid-dsc-lft {
	    top: 55px;
	    max-width: 415px;
	    width: 100%;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon{
		display: none;
	}
	.cb-two-grid-dsc-rgt{
		padding-left: 15px;
		padding-right: 15px;
	}
	.cnb-two-grid-sec .cb-two-grid-dsc-rgt{
		padding-left: 15px;
	}
	.pcontainerboard-contain-ctlr .cb-product-details-sec-wrp,
	.ppaperboard-contain-ctlr .cb-product-details-sec-wrp,
	.ptissue-semi-contain-ctlr .cb-product-details-sec-wrp{
		padding-bottom: 20px;
	}
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-lft, 
	.ptissue-semi-contain-ctlr .cb-two-grid-dsc-rgt,
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-lft, 
	.pcontainerboard-contain-ctlr .cb-two-grid-dsc-rgt {
	    padding-bottom: 50px;
	}
}


@media(max-width: 479px){
	.cb-two-grid-dsc-lft {
	    top: 40px;
	    padding-top: 40px;
	    width: 100%;
	}
	.cb-two-grid-dsc-rgt {
	    bottom: 90px;
	    padding: 40px 15px 40px 15px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft-con {
	    width: 100%;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 20px;
	    width: 100%;
	} 
	.cnb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 30px;
	    width: 100%;
	}
	.cb-two-grid-dsc-rgt p,
	.cb-two-grid-dsc-lft p {
	    margin-bottom: 20px;
	}
	.cb-two-grid-dsc-rgt ul,
	.cb-two-grid-dsc-lft ul {
	    padding-bottom: 10px;
	}
	.tsf-two-grid-dsc-rgt p,
	.tsf-two-grid-dsc-lft p {
	    margin-bottom: 0 !important;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft-con {
	    width: 100%;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 20px;
	    padding-right: 10px;
	}
	.cnb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 50px;
	    width: 100%;
	    padding-right: 10px;
	}
	.tsf-two-grid-dsc-rgt {
	    width: 100%;
	}



	
}



@media(max-width: 359px){
	.pb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 30px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft-con {
	    width: 100%;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 20px;
	    max-width: 260px;
	    padding-right: 15px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 20px;
	    max-width: 260px;
	    width: 100%;
	}
	.cnb-two-grid-sec .cb-two-grid-dsc-rgt {
	    max-width: 260px;
	    width: 100%;
	}
	.cnb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 25px;
	    max-width: 260px;
	    width: 100%;
	}
	.tsf-two-grid-dsc-rgt {
	    max-width: 260px;
	    width: 100%;
	}
}
