/*
-----------------------
cb-product-details-sec-wrp
-----------------------
*/
.cb-product-details-sec-wrp {
    position: relative;
    overflow: hidden;
    margin-top: -14px;
    min-height: 790px;
    margin-bottom: -170px;
    z-index: 3;
}
.cb-product-details-sec-wrp .ec-product-details-img{
	min-height: 560px !important;
}
.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
    right: -52px;
    bottom: -234px;
}
.cb-product-details-sec-wrp .ec-product-details-dsc p:first-of-type {
    margin-bottom: 25px;
}
.cb-product-details-sec-wrp .ec-product-icon {
    padding-top: 30px;
}
/*
--------------------
cb-two-grid-sec-wrp
--------------------
*/
.cb-two-grid-sec-wrp {
    padding: 0 60px;
    margin-bottom: -70px;
    position: relative;
    z-index: 2;
}
.cb-two-grid-dsc-lft-con{
	width: 50%;
	float: left;
	background: #e8e9ed;
	border-radius: 12px 0 0 12px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.cb-two-grid-dsc-lft{
	padding: 120px 215px 180px 0;
}
.cb-two-grid-dsc-lft h6{
	margin: 0;
	font-size: 22px;
	line-height: 24px;
	font-weight: 900;
	color: #002854;
	margin-bottom: 10px;
}
.cb-two-grid-dsc-rgt p,
.cb-two-grid-dsc-lft p{
	margin-bottom: 35px;
}
.cb-two-grid-dsc-rgt p strong,
.cb-two-grid-dsc-lft p strong{
	display: inline-block;
	vertical-align: baseline;
}
.cb-two-grid-dsc-rgt > strong,
.cb-two-grid-dsc-lft > strong{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 8px;
	font-size: 16px;
	line-height: 18px;
	color: #000417;
}
.cb-two-grid-dsc-rgt ul,
.cb-two-grid-dsc-lft ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
}
.cb-two-grid-dsc-rgt ul li,
.cb-two-grid-dsc-lft ul li{
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	padding-left: 25px;
	padding-bottom: 10px;
	background: url(../images/product-ary-icon.png);
	background-repeat: no-repeat;
	background-size: 12px 10px;
}

.cb-two-grid-dsc-rgt-con{
	width: 50%;
	float: right;
	background: #002854;
	border-radius:0 12px 12px 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
.cb-two-grid-dsc-rgt {
    color: #fff;
    padding: 120px 10px 72px 190px;
}
.cb-two-grid-dsc-rgt > strong{
	color: #fff;
}
.cb-two-grid-btn {
    max-width: 255px;
    width: 100%;
    margin: 0 auto;
    margin-top: -30px;
    position: absolute;
    left: 50%;
    bottom: -70px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.cb-two-grid-btn a{
	display:block;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	line-height: 15px;
	font-weight: 900;
	text-align: center;
	background: #003fa5;
	padding: 24px 70px;
	position: relative;
	text-transform: uppercase;
}
.cb-two-grid-btn a:hover{
	background: #022a6b;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.cb-two-grid-btn a:after{
	content: "";
	position: absolute;
	right: 37px;
	top: 27px;
	background: url(../images/dropdown-icon.png);
	background-repeat: no-repeat;
	background-size: 10px 8px;
	width: 10px;
	height: 8px;
}
.cb-two-grid-btn span{
	display:block;
	font-size: 13px;
	line-height: 15px;
	font-weight: 700;
	color: #002854;
	text-align: center;
	text-transform: uppercase;
	padding-top: 25px;
	letter-spacing: 0.65px;
	font-stretch: condensed;
  	font-style: normal;
}

/*
----------------
tsf-two-grid-dsc-lft
-----------------
*/
.tsf-two-grid-dsc-rgt p,
.tsf-two-grid-dsc-lft p{
	margin-bottom: 0;
}
.tsf-two-grid-dsc-lft h6:last-of-type{
	margin-top: 40px !important;
}
.tsf-two-grid-dsc-rgt h6{
	margin-top: 40px;
}
.tsf-two-grid-dsc-rgt h6:first-of-type{
	margin-top: 0;
}
.cb-two-grid-dsc-rgt span,
.pb-grid-dsc-lft span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	line-height: 17px;
	color: #000417;
	font-weight: 400;
}
.cb-two-grid-dsc-rgt span{
	color: #fff;
}
.cb-two-grid-controller{
	position: relative;
}
.box-packaging-img {
    position: absolute;
    left: 50%;
    top: -55px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}


@media(max-width: 1499px){
	.cb-two-grid-sec-wrp {
	    padding: 0 20px;
	    margin-bottom: -70px;
	}
	.cb-two-grid-dsc-rgt {
	    padding: 120px 10px 72px 140px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 120px 120px 180px 0;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.cb-product-details-sec-wrp {
	    margin-top: 0;
	    min-height: 790px;
	    margin-bottom: 0;
	    padding: 50px 0;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
	    right: -20px;
	    bottom: -145px;
	}
	.cb-two-grid-dsc-rgt {
	    padding: 100px 10px 72px 70px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 100px 80px 140px 0;
	}
	.box-packaging-img {
	    top: -32px;
	    max-width: 225px;
	    width: 100%;
	}

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.cb-two-grid-dsc-rgt {
	    padding: 80px 10px 72px 30px;
	}
	.cb-two-grid-dsc-lft {
	    padding: 80px 30px 100px 0;
	}
	.box-packaging-img{
		display: none;
	}

}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.cb-two-grid-dsc-lft-con {
	    width: 100%;
	    float: left;
	    border-radius: 0;
	    position: static;
	    min-height: 600px;
	}
	.cb-two-grid-dsc-rgt-con {
	    width: 100%;
	    float: right;
	    border-radius: 0;
	    position: static;
	    min-height: 600px;
	}
	.cb-two-grid-controller .col-sm-6{
		position: static !important;
	}
	.cb-two-grid-dsc-lft {
	    position: absolute;
	    top: 50px;
	    max-width: 600px;
	    width: 100%;
	}
	.cb-two-grid-dsc-rgt {
	    position: absolute;
	    bottom: 45px;
	    padding-left: 0;
	}
	.cb-two-grid-sec-wrp {
	    margin-bottom: 0;
	    padding-bottom: 80px;
	}
	.cb-two-grid-btn {
	    max-width: 235px;
	    width: 100%;
	    margin-top: -30px;
	    bottom: 10px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft{
		top: 20px;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.tsf-two-grid-dsc-lft h6:last-of-type {
	    margin-top: 20px !important;
	}
	.tsf-two-grid-dsc-rgt h6 {
	    margin-top: 20px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 0px;
	}
	.cb-product-details-sec-wrp .ec-product-rgt-bg-icon {
	    right: -20px;
	    bottom: -100px;
	}
	.cnb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 0px;
	}

}


@media(max-width: 479px){
	.cb-two-grid-dsc-lft {
	    top: 30px;
	    max-width: 300px;
	    width: 100%;
	    padding-top: 40px;
	}
	.cb-two-grid-dsc-rgt {
	    bottom: 90px;
	    padding: 40px 10px 40px 0;
	}
	.cb-two-grid-dsc-rgt-con {
	    min-height: 540px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft-con {
	    width: 100%;
	    min-height: 700px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-lft {
	    top: 10px;
	}
	.pb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 50px;
	} 
	.cnb-two-grid-sec .cb-two-grid-dsc-rgt {
	    bottom: 40px;
	}
	.cb-two-grid-dsc-rgt-con {
	    min-height: 640px;
	}
	.cb-two-grid-dsc-rgt p,
	.cb-two-grid-dsc-lft p {
	    margin-bottom: 20px;
	}
	.cb-two-grid-dsc-rgt ul,
	.cb-two-grid-dsc-lft ul {
	    padding-bottom: 10px;
	}
	.tsf-two-grid-dsc-rgt p,
	.tsf-two-grid-dsc-lft p {
	    margin-bottom: 0 !important;
	}
	
}



@media(max-width: 359px){

}
