header.header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 11;
}
.header-inr{
	padding: 0 0 0 55px;
}
.hdr-lft{
	float: left;
}
.hdr-rgt{
	float: right;
	width: 80px;
}
.logo{
	padding-top: 20px;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
}

.hdr-humberger-btn{
	width: 80px;
	height: 80px;
	position: relative;
	float: right;
	background: #005ef4;
	cursor: pointer;
}
.hdr-humberger-btn-inr{
	height: 20px;
	width: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 11;
}
.hdr-humberger-btn span{
	background: #fff;
	height: 2px;
	margin-bottom: 5px;
	display: block;
}
.hdr-humberger-btn span:last-child{
	margin-bottom: 0;
}

.language {
    float: right;
    position: relative;
    margin-top: 35px;
    margin: 30px;
}
.language a.active {
    position: static;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff!important;
}
.language a {
    float: left;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 36px;
    font-weight: 700;
    opacity: 0;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    letter-spacing: 2.8px;
}
.language a.active::after {
    content: "\f0d7";
    position: absolute;
    font-family: FontAwesome;
    right: 3px;
    bottom: 0;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
}
.language:hover a.active:after {
    content: "\f0d8";
}
.language:hover a {
    opacity: 1;
    color: #0294cf;
}


/*
----------------
Burger menu
----------------
*/

.burger-menu-wrap{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    top: 0;
    background: url(../images/burger-manu-bg-layer-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    z-index: 100;
}
.burger-menu-inner{
    position: relative;
    overflow: hidden;
}
.bm-lft-btm-lgo {
    position: absolute;
    left: -118px;
    bottom: -103px;
}
.bm-close-btn{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu-parent-lft-grd{
    float: left;
    width: 46%;
    height: 100%;
}
.burger-menu-parent-rgt-grd{
    float: right;
    width: 54%;
    background: #003a91;
    height: 100%;
}
.burger-menu-parent-lft-grd-inner{
    background: url(../images/burger-menu-parent-lft-grd-inner-bg.png);
}

.burger-menu-site-logo{
    padding: 15px 0 200px 55px;
}
.burger-menu-site-logo a{
    display: inline-block;
    vertical-align: baseline;
    max-width: 252px;
}
.burger-menu-site-logo a img{
    width: 100%;
}

.bmp-inner2{
    max-width: 555px;
    width: 100%;
    float: right;
}
.bm-main-nav{
    padding-bottom: 140px;
}
.bm-main-nav ul li{
    padding: 10px 0;
}
.bm-main-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
    color: #a5c8ff;
    font-size: 26px;
    line-height: 30px;
}
.bm-social{
    padding-bottom: 40px;
}
.bm-social ul li,
.bm-social ul li a{
    display: inline-block;
    vertical-align: baseline;
    color: #fff;
}
.bm-social ul{
    margin-left: -11px;
}
.bm-social ul li a{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100% 100%;
    font-size: 18px;
    line-height: 100%;
}
.bm-social ul li a:hover{
    background: #00388c;
}
.bm-btm-menu{
    padding-bottom: 175px;
}
.bm-btm-menu ul li{
    display: inline-block;
    vertical-align: baseline;
    font-size: 12px;
    line-height: 15px;
}
.bm-btm-menu ul li a{
    display: inline-block;
    vertical-align: baseline;
    color: #93bdff;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.bm-btm-menu ul li a:hover{
    color: #fff;
}
.bm-btm-menu ul li:not(:last-child){
    padding-right: 40px;
}



.burger-menu-parent-rgt-grd-inner{
    padding: 100px 0 235px 150px;
    color: #fff;
    position: relative;
}
.bmp-rgt-grd-btm-lgo{
    position: absolute;
    left: 85px;
    bottom: -44px;

}
.burger-menu-protfolio-grds{
    max-width: 700px;
    width: 100%;
    padding-right: 10px;
}
.burger-menu-protfolio-grds ul{
    margin-left: -27px;
    padding-bottom: 250px;
}
.burger-menu-protfolio-grds ul li{
    float: left;
    width: 50%;
    padding: 0 5px;
}
.burger-menu-protfolio-grds ul li:nth-child(2n+1){
    clear: left;
}
.burger-menu-protfolio-con{
    float: left;
    width: 100%;
}
.burger-menu-protfolio-con h2{
    font-weight: 300;
    color: #72a9ff;
    margin-bottom: 57px;
}
.burger-menu-protfolio-con h2 strong{
    font-weight: 700;
    display: inline-block;
    vertical-align: baseline;
}
.bmp-grd-item{
    position: relative;
    padding: 0 15px 0 100px;
    border-radius: 80px;
    background: transparent;
    margin-bottom: 4px;
}
.bmp-grd-item i{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-right: 15px;
    top: 0;
    width: 100px;
    text-align: right;
}
.bmp-grd-item i span{
    position: relative;
    display: block;
    height: 100%;
}
.bmp-grd-item i span img{
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.bmp-grd-item i span img:first-child{
    display: inline-block;
    vertical-align: baseline;
}
.bmp-grd-item div{
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 83px
}
.bmp-grd-item strong{
    text-transform: uppercase;
    display: block;
    font-family: 'RobotoBlack';
    font-size: 20px;
    line-height: 25px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.bmp-grd-item strong span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



.bmp-grd-item:hover{
    background: #0041a3;
}
.bmp-grd-item:hover strong span{
    display: none;
}
.bmp-grd-item:hover i span img:first-child{
    display: none;
}
.bmp-grd-item:hover i span img:last-child{
    display: inline-block;
}