


.home-page-bnr{
	min-height: 1080px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	position: relative;
}
.home-page-bnr-overlay-bg{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.66;
  	background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  	-ms-background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  	-webkit-background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}
.scroll-btn{
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 11;
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;
}
.home-bnr-logo{
	position: absolute;
	left: 50%;
	top: 320px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 2;
}
a.home-bnr-logo{
	display: inline-block;
	vertical-align: baseline;
}



.home-bnr-sidebar{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 80px;
  	background-color: #001a38;
  	background-color: rgba(0,26,56, 0.71);
  	z-index: 5;
}
.home-bnr-sidebar-inner{
	position: relative;
	height: 100%;
	width: 100%;
}
.chat-box{
	position: absolute;
	bottom: 20px;
	left: -12px;
	z-index: 11;
	max-width: 70px;
	height: 76px;
}

.bnr-sidebar-links{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.bnr-sidebar-links-inner{
	position: relative;
	padding-top: 100px;
	height: 100%;
	width: 100%;
}
strong.sec-title-show{
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.2px;
	font-weight: 400;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	display: inline-block;
	vertical-align: baseline;
	display: block;
	bottom: 100%;
	left: -20px;
	white-space: nowrap;
	padding-left: 45px;
}
.bnr-sidebar-links ul li:not(:last-child){
	margin-bottom: 30px;
}
.bnr-sidebar-links ul li{
	height: 10px;
}
.bnr-sidebar-links ul li a{
	color: #fff;
	font-size: 12px;
	line-height: 14px;
    font-family: 'RobotoBlack';
    display: inline-block;
    vertical-align: baseline;
    position: relative;
}
.bnr-sidebar-links ul li a span{
	position: relative;
	display: block;
}

.bnr-sidebar-links ul li a strong{
	text-transform: uppercase;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    zoom: 1;
}
.bnr-sidebar-links ul li a{
	width: 13px;
	height: 10px;
}

.bnr-sidebar-links ul li a span:after,
.bnr-sidebar-links ul li a span,
.bnr-sidebar-links ul li a strong{
	width: 13px;
	height: 10px;
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.bnr-sidebar-links ul li a span:after {
    content: "\f0d8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    line-height: 9px;
    opacity: 1;
}
.bnr-sidebar-links ul li a:hover span{
	opacity: 0;
}
.bnr-sidebar-links ul li a:hover strong{
	opacity: 1;
}


.bnr-sidebar-links li a:after {
    content: '';
    height: 2px;
    width: 20px;
    right: -33px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 20;
    position: absolute;
    margin-top: 3px;
    margin-right: 0;
    opacity: 0;
    background: #fff;
} 
.bnr-sidebar-links li.current a:after, 
.bnr-sidebar-links ul li a:hover:after {
   opacity: 1;
}


.perfection-section{
	padding: 60px 140px 75px 0;
	position: relative;
	overflow: hidden;
}
.perfection-sec-btm-rgt-img {
    position: absolute;
    right: -209px;
    bottom: -82px;
    z-index: 1;
}
.perfection-sec-btm-rgt-img-2{
    position: absolute;
    right: -191px;
    bottom: -52px;
    z-index: 1;
}

.perfection-sec-inner{
	position: relative;
	z-index: 2;
	padding: 41px 0;
	min-height: 
}
.perfection-sec-fea-img{
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 69%;
	z-index: 2;
	float: left;
}
.perfection-sec-des-bx{
	position: relative;
	float: right;
	width: 35%;
	z-index: 3;
	background: #001a38;
}
.perfection-sec-des-bx-inner{
	float: left;
	max-width: 620px;
	padding: 50px 85px 75px 70px;
	color: #fff;
}
.perfection-sec-des-bx h1{
	font-weight: 300;
	margin-bottom: 27px; 
	line-height: 50px;
}
.perfection-sec-des-bx h1 strong{
	font-weight: 700;
	display: inline-block;
	vertical-align: baseline;
}
.perfection-sec-des-bx p{
	font-size: 18px;
	line-height: 34px;
	margin-bottom: 40px;
}
.perfection-sec-des-bx p strong{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
}
.perfection-sec-des-bx a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	max-width: 229px;
	padding: 10px;
	width: 100%;
	background: #003fa5;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 1.3px;
    font-family: 'RobotoBlack';
}
.perfection-sec-des-bx a:hover{
	background: #023587;
}
.perfection-section.perfection-sec-2{
	padding: 56px 60px 70px;
}
.perfection-section.perfection-sec-2 .perfection-sec-fea-img{
	right: 0;
	left: initial;
}
.perfection-section.perfection-sec-2  .perfection-sec-des-bx{
	float: left;
}
.perfection-section.perfection-sec-2 .perfection-sec-des-bx-inner{
	float: right;
}


.home-2-plate-grd-section{
	padding: 0 52px;
}
.home-2-plate-grd-controller ul li{
	float: left;
	width: 50%;
	padding: 0 8px 50px;
}
.home-2-plate-grd-img a{
	display: block;
	overflow: hidden;
}
.home-2-plate-grd-img img{
	width: 100%;
	border-radius: 5px 0 0 5px;
}
.home-2-plate-grd-controller ul li:nth-child(2n+1){
	clear: left;
}
.home-2-plate-grd-controller ul li:nth-child(2n+2) .home-2-plate-grd-img img{
	border-radius: 0 0 5px 5px;
}

.home-2-plate-grd-item strong{
	font-size: 28px;
	line-height: 30px;
	letter-spacing: 0.56px;
	text-transform: uppercase;
	padding: 30px 10px 0;
	text-align: center;
    font-family: 'RobotoBlack';
    display: block;
}
.home-2-plate-grd-item strong a span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.home-2-plate-grd-item strong a{
	display: inline-block;
	vertical-align: baseline;
	color: #000417;
}
.home-2-plate-grd-item strong a:hover{
	color: #003fa5;
}

.get-in-touch-section{
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	position: relative;
	padding: 135px 0 110px;
	margin: -15px 60px 0;
	z-index: 1;
}
.get-in-touch-sec-overlay-bg{
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0.75;
  	background-image: linear-gradient(117deg, #232138 44%, #081a36 100%);
  	-ms-background-image: linear-gradient(117deg, #232138 44%, #081a36 100%);
  	-webkit-background-image: linear-gradient(117deg, #232138 44%, #081a36 100%);
}
.get-in-touch-section:after{
	content: "";
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 1px;
	background: #b0a5a9;
	z-index: 2;
}
.get-in-touch-sec-grd-item{
	text-align: center;
	color: #fff;
	max-width: 370px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}
.get-in-touch-sec-grd-item h3{
	font-size: 37px;
	line-height: 40px;
	font-weight: 700;
}
.get-in-touch-sec-grd-item h3 span{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 300;
}
.get-in-touch-sec-grd-item p{
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 30px;
}
.get-in-touch-sec-grd-item a {
    display:inline-block;
    vertical-align: baseline;
    height: 62px;
    max-width: 183px;
    padding: 10px;
    width: 100%;
    background: #000417;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1.3px;
    font-family: 'RobotoBlack';
    padding-top: 26px;
}
.get-in-touch-sec-grd-item a:hover{
	background: #003fa5;
}

.get-in-touch-grd:last-child .get-in-touch-sec-grd-item a{
	max-width: 250px;
}

.h-products-section{
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	padding: 115px 0 75px;	
}
.h-products-sec-grd-controller ul li{
	float: left;
	width: 33.3333%;
	padding: 0 30px 70px;
	position: relative;
}
.h-products-sec-grd-controller ul li:after{
	content: "";
	position: absolute;
	left: 100%;
	top: 0;
	height: 165px;
	width: 1px;
	background: #ccc;
	z-index: 1;
}
.h-products-sec-grd-controller ul li:nth-child(3n+3):after{
	content: none;
}
.h-products-sec-grd-controller ul li:nth-child(3n+1){
	clear: left;
}
.h-pro-grd-item{
	margin-left: 15px;
}


.h-pro-grd-item h4{
	text-transform: uppercase;
    font-family: 'RobotoBlack';
    margin-bottom: 27px;
}
.h-pro-grd-item h4 a{
	display: inline-block;
	vertical-align: baseline;
	color: #000417;
}
.h-pro-grd-item h4 a:hover{
	color: #01a5db;
}
.h-pro-grd-item h4 span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: baseline;	
}
.h-pro-grd-item-des{
	position: relative;
	padding: 0 0 0 125px;
}
.h-pro-grd-item-des i{
	position: absolute;
	left: 0;
	top: 0;
}
.h-pro-grd-item-des p{
	line-height: 23px;
	margin-bottom: 20px;
}
.h-pro-grd-item-des a{
	text-transform: uppercase;
	color: #003fa5;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	display: inline-block;
	vertical-align: baseline;
}
.h-pro-grd-item-des a:hover{
	color: #01a5db;
}

.h-pro-grd-item-sec-hdr-wrap{
	padding-right: 30px;
	text-align: right;
	margin-top: -25px;
}
.h-pro-grd-item-sec-hdr-wrap h3{
	font-size: 45px;
	line-height: 50px;
	color: #003fa5;
	font-weight: 700;
	margin-bottom: 30px;
}
.h-pro-grd-item-sec-hdr-wrap h3 span{
	display: block;
	font-weight: 300;
}
.h-pro-grd-item-sec-hdr blockquote{
	margin: 0;
	padding: 0;
	border: none;
	font-size: 22px;
	line-height: 29px;
	font-style: italic;
	color: #5d5d5d;
	font-weight: 400;
}
.h-pro-grd-item-sec-hdr blockquote span{
	font-weight: 600;
	color: #4a4949;
	display: inline-block;
	vertical-align: baseline;
}

.h-pro-more-btn{
	text-align: center;
}
.h-pro-more-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 60px;
    max-width: 260px;
    padding: 10px;
    width: 100%;
    background: #003fa5;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1.3px;
    font-family: 'RobotoBlack';
}
.h-pro-more-btn a:hover{
	background: #013589;
}



@media(max-width: 1799px){
	.perfection-sec-des-bx-inner {
	    padding: 50px 50px 75px 60px;
	}

}

@media(max-width: 1599px){
	.perfection-section{
		padding-right: 70px;
	}

}
@media(max-width: 1399px){
	.perfection-section{
		padding-right: 20px;
	}
	.get-in-touch-section{
		margin-right: 20px;
		margin-left: 20px;
	}
	.perfection-section.perfection-sec-2{
		padding-left: 20px;
		padding-right: 20px;
	}

}

@media(max-width: 1199px){
	.perfection-sec-fea-img{
		width: 63%;
	}
	.perfection-sec-des-bx{
		width: 42%;
	}
	.h-products-sec-grd-controller ul li:nth-child(3n+1) {
	    clear: initial;
	}
	.h-products-sec-grd-controller ul li{
		width: 50%;
	}
	.h-products-sec-grd-controller ul li:nth-child(2n+1) {
	    clear: left;
	}
	.h-products-sec-grd-controller ul li:nth-child(3n+3):after{
		content: "";
	}
	.h-products-sec-grd-controller ul li:nth-child(2n+2):after{
		content: none;
	}
	.home-2-plate-grd-item strong{
		font-size: 25px;
	}
	.home-page-bnr{
		min-height: 900px;
	}
	.home-bnr-logo {
	    top: 192px;
	    max-width: 300px;
	}
}


@media(max-width: 991px){
	.perfection-sec-btm-rgt-img,
	.perfection-sec-btm-rgt-img-2{
		display: none;
	}
	.perfection-section{
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 0;
	}
	.perfection-sec-fea-img{
		position: static;
		height: 450px;
		width: 100%;
	}
	.perfection-sec-des-bx {
	    width: 90%;
	    margin-right: 5%;
	    margin-left: 5%;
	    margin-top: -70px;
	}
	.perfection-sec-inner{
		padding-bottom: 0;
	}
	.perfection-sec-des-bx h1{
		line-height: 100%;
	}
	.perfection-section.perfection-sec-2 .perfection-sec-des-bx-inner {
	    float: left;
	}
	.get-in-touch-grd{
		width: 100%!important;
	}
	.get-in-touch-sec-grd-item{
		padding-bottom: 50px;
	}
	.get-in-touch-section{
		padding-top: 50px;
		padding-bottom: 10px;
	}
	.get-in-touch-section:after{
		content: none;
	}
	.get-in-touch-sec-grd-item{
		position: relative;
	}

	.get-in-touch-grd:first-child .get-in-touch-sec-grd-item:after{
		content: "";
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 1px;
	    background: #b0a5a9;
	    z-index: 2;
	}
	.get-in-touch-grd:first-child .get-in-touch-sec-grd-item{
		margin-bottom: 40px;
	}

	.get-in-touch-section {
	    margin-right: 15px;
	    margin-left: 15px;
	}
	.perfection-section.perfection-sec-2 {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.home-2-plate-grd-section{
		padding-left: 15px;
		padding-right: 15px;
	}
	.home-2-plate-grd-controller ul{
		margin-right: -10px;
		margin-left: -10px;
	}
	.home-page-bnr{
		min-height: 700px;
	}
}


@media(max-width: 767px){
	.perfection-sec-des-bx {
	    width: 92%;
	    margin-right: 4%;
	    margin-left: 4%;
	}
	.h-products-sec-grd-controller ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		max-width: 600px;
	}
	.h-products-sec-grd-controller ul li:after{
		content: none!important;
	}
	.h-pro-grd-item-sec-hdr-wrap{
		padding-right: 0;
	}
	.h-products-sec-grd-controller ul li:after{
		content: none;
	}
	.h-pro-grd-item-sec-hdr-wrap{
		text-align: center;
		margin-top: 0;
	}
	.h-pro-grd-item-sec-hdr-wrap h3 span{
		display: inline-block;
		vertical-align: baseline;
	}
	.h-products-sec-grd-controller ul li:first-child{
		max-width: 100%;
	}
	.h-pro-grd-item-sec-hdr-wrap h3{
		margin-bottom: 25px;
	}
	.h-products-section{
		padding-top: 60px;
	}
	.home-2-plate-grd-controller ul li{
		width: 100%;
		padding-bottom: 40px;
	}

	.home-2-plate-grd-item strong{
		padding-left: 0;
		padding-right: 0;
	}
	.home-page-bnr {
	    min-height: 600px;
	}
	.home-bnr-logo {
	    top: 159px;
	    max-width: 210px;
	}
	.bnr-sidebar-links{
		margin-top: 60px;
	}
	.scroll-btn{
		bottom: 30px;
	}
	strong.sec-title-show{
		display: none;
	}
	.bnr-sidebar-links {
	    margin-top: 0;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.perfection-sec-des-bx-inner {
	    padding: 35px 20px 45px 20px;
	}
	.perfection-sec-des-bx p {
	    font-size: 17px;
	    line-height: 30px;
	}
	.perfection-sec-des-bx a {
	    height: 50px;
	    max-width: 184px;
	}
	.h-pro-grd-item {
	    margin-left: 0;
	}
	.h-pro-grd-item-des i{
		max-width: 85px;
	}
	.h-pro-grd-item-des{
		padding-left: 110px;
	}
	.h-products-sec-grd-controller ul li{
		padding-bottom: 50px;
	}
	.home-2-plate-grd-item strong {
	    font-size: 22px;
	    line-height: 100%;
	    padding-top: 20px;
	}
	.home-bnr-sidebar{
		width: 60px;
	}
	.home-bnr-sidebar .hdr-rgt {
	    width: 60px;
	}
	.home-bnr-sidebar .language {
	    margin: 30px 16px 0 0;
	}
	.bnr-sidebar-links-inner{
		padding-top: 0;
	}
	.chat-box{
		left: -30px;
	}
	.scroll-btn{
		display: none;
	}
	.home-page-bnr {
	    min-height: 500px;
	}
	.home-bnr-logo{
		margin-left: -25px;
	}
	.perfection-section.perfection-sec-2{
		padding-top: 20px;
	}
	.h-pro-grd-item-sec-hdr-wrap h3{
		font-size: 40px;
	}
	.h-pro-grd-item-sec-hdr blockquote{
		font-size: 20px;
		line-height: 26px;
	}
	.h-pro-more-btn a {
	    height: 50px;
	    max-width: 240px;
	}
}


@media(max-width: 479px){


}



@media(max-width: 359px){

}