.companyPage-aboutUs-sec{
	padding: 106px 0 98px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.companyPage-about-innr {
    max-width: 830px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}
.companyPage-about-innr h2{
	font-size: 30px;
	font-weight: 300;
	line-height: 50px;
	color: #003fa5;
	margin-bottom: 18px;
}
.companyPage-about-innr p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}
.obutus-inc-logo {
    position: absolute;
    top: -62px;
    left: -222px;
    z-index: 2;
}
.company-counter-sec{
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.counter-overlay-spn{
	position: absolute;
	z-index: 2;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.92;
	-ms-background-image: linear-gradient(120deg, #232138 43%, #081a36 100%);
	-webkit-background-image: linear-gradient(120deg, #232138 43%, #081a36 100%);
	background-image: linear-gradient(120deg, #232138 43%, #081a36 100%);
}
.counter-inc-logo {
    position: absolute;
    right: -144px;
    bottom: -98px;
    z-index: 3;
}
.company-counter-innr{
	position: relative;
	z-index: 3;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter-des{
	width:31.03%;
	order: 1;
	padding: 50px 115px 50px 38px;
}
.counter-des h3{
	font-size: 45px;
	color: #fff;
	font-weight: 300;
	line-height: 49px;
	margin-bottom: 36px;
}
.counter-des p{
	font-size: 22px;
	line-height: 29px;
	color: #909090;
}
.counter-main{
	width:68.97%;
	order:2;
	border-left: 1px solid #909090;
    padding: 110px 5px 87px 78px;
}
.counter-col {
	float: left;
	padding: 36px 10px;
	position: relative;
}
.counter-col-1{
	width: 32.09%;
}
.counter-col-2{
	width: 31.10%;
}
.counter-col-3{
	width: 36.81%;
}
.counter-col-4{
	width: 32.09%;
	text-align: left;
	padding: 52px 140px 52px 70px;
}
.counter-col-5{
	width: 31.10%;
	text-align: left;
	padding: 52px 132px 52px 68px;
}
.counter-col-6{
	width: 36.81%;
}
.counter-main strong{
	display: block;
	vertical-align: baseline;
	font-weight: 300;
	line-height: 50px;
	font-size: 42px;
	color: #fff;
	margin-bottom: 5px;
}
.counter-main span{
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	vertical-align: baseline;
	font-size: 66px;
	line-height: 72px;
	font-weight: 700;
}
.counter-main small{
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	line-height: 18px;
	letter-spacing: 1.2px;
	color: #b4b4b4;
	text-transform: uppercase;
}
.counter-col-4 small,
.counter-col-5 small{
	position: absolute;
	text-align: left;
	top:50%;
	right:43px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.counter-col-5 small{
	right:55px;
}
.ourValue-sec{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.ourValue-sec .company-inc-logo {
    top: 375px !important;
    right: -133px !important;
}
.ourValue-sec .company-inc-logo-2 {
    top: 62%;
    left: 49%;
}
.ourValue-hdr{
	padding: 60px 0 63px;
}
.ourValue-hdr h3{
	font-size: 45px;
	line-height: 49px;
	color: #003fa5;
	font-weight: 300;
}
.ourValue-grd-wrp {
    padding-bottom: 122px;
}
.ourValue-grd-wrp li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}
.ourValue-grd-wrp li:not(:last-child) {
    margin-bottom: 42px;
}
.ourValue-grd-wrp  li .ourValue-img {
    width: 56.77%;
    position: relative;
    order: 1;
    overflow: hidden;
    border-radius: 0 14px 14px 0;
}
.ourValue-grd-wrp  li .ourValue-des {
    width: 43.23%;
    order: 2;
}
.ourValue-grd-wrp  li:nth-child(2n+2) .ourValue-img {
    order: 2;
    border-radius:14px 0 0 14px;
}
.ourValue-grd-wrp li:nth-child(2n+2) .ourValue-des {
    order: 1;
}
.ourValue-img-inner{
	min-height: 480px;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.ourValue-img:hover .ourValue-img-inner{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}
.ourValue-img .ourValue-img-inner > img{
    display: none;
}
.ourValue-grd-wrp li .ourValue-des .ourValue-des-innr{
	max-width: 570px;
	float: left;
	padding: 20px 15px 20px 110px
}
.ourValue-grd-wrp li:nth-child(2n+2) .ourValue-des .ourValue-des-innr{
	float: right;
	padding: 20px 112px 20px 15px
}
.ourValue-des .ourValue-des-innr h3{
	font-weight: 900;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.6px;
}

.ourValue-des .ourValue-des-innr h3 span {
  font-weight: 400;
}

.company-portfolio-innr{
	max-width: 1380px;
	margin: 0 auto;
}
.company-portfolio-head{
	padding-top: 90px;
}
.company-portfolio-head h3{
	font-size: 45px;
	font-weight: 300;
	line-height: 49px;
	color: #003fa5;
}
.company-portfolio-head p{
	font-size: 22px;
	line-height: 29px;
	color: #5d5d5d;
}
.companyPortfolioSlider-item{
	width:33.333%;
	float: left;
	background: #fff;
	padding: 35px 82px 82px;
	position: relative;
	border-left: 1px solid #e6e6e6;
	cursor: pointer;
	z-index: 5;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.companyPortfolioSlider-item:hover{
	border:0;
	border-radius: 12px;
	-webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06); 
	-ms-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06); 
  	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.06);
	z-index: 7;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}
.companyPortfolioSlider .slick-active {
	padding-top:70px;
	padding-bottom:70px;
}
.companyPortfolioSlider .slick-current {
	padding-left: 70px;
}
.companyPortfolioSlider .slick-active + .slick-active + .slick-active {
	padding-right: 100px;	
}
.slick-current.slick-active .companyPortfolioSlider-item{
	border-left: 0;
}
.companyPortfolioSlider-item img{
	display: inline-block;
}
.companyPortfolioSlider-item h5{
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.48px;
	color: #002854;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.companyPortfolioSlider-item h5 span {
	font-weight: 900;
}
.companyPortfolioSlider-item p{
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	color: #5d5d5d;
}
.companyPortfolioSlider-item img{
	margin-bottom: 22px;
}
.portfolio-arrows span.rightArrow svg,
.portfolio-arrows span.leftArrow svg{
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.portfolio-arrows span.rightArrow:hover svg,
.portfolio-arrows span.leftArrow:hover svg{
	fill: #003fa5!important;
}
.portfolio-arrows{
	position: relative;
	padding: 20px 0;
}
.portfolio-arrows span.leftArrow{
    position: absolute;
    left: 45.8%;
    bottom: 35px;
    z-index: 25;
    width: 31px;
    height: 23px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.portfolio-arrows span.rightArrow {
    position: absolute;
    right: 45.8%;
    bottom: 35px;
    z-index: 25;
    width: 31px;
    height: 23px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
















@media(max-width: 1499px){

	.counter-col-4,
	.counter-col-5{
		text-align: center;
		padding: 36px 0;
	}
	.counter-col-4 small,
	.counter-col-5 small{
		position: static;
		text-align: center;
		-webkit-transform: initial;
		-ms-transform: initial;
		transform: initial;
	}
	.counter-des {
	    padding: 50px 80px 50px 10px;
	}
	.ourValue-grd-wrp li .ourValue-des .ourValue-des-innr{
		padding: 20px 15px 20px 50px
	}
	.ourValue-grd-wrp li:nth-child(2n+2) .ourValue-des .ourValue-des-innr{
		padding: 20px 50px 20px 15px
	}
	.ourValue-img-inner {
	    min-height: 410px;
	}

.companyPortfolioSlider-item {
    padding: 35px 45px 82px;
}
.ourValue-grd-wrp {
    padding-bottom: 80px;
}


}

@media(max-width: 1199px){


	.counter-des {
	    padding: 50px 35px 50px 10px;
	}	
	.ourValue-grd-wrp li .ourValue-des .ourValue-des-innr{
		padding: 20px 15px 20px 25px
	}
	.ourValue-grd-wrp li:nth-child(2n+2) .ourValue-des .ourValue-des-innr{
		padding: 20px 25px 20px 15px
	}
	.ourValue-grd-wrp li .ourValue-img {
	    width: 65%;
	}
	.ourValue-grd-wrp li .ourValue-des {
	    width: 35%;
	}
	.ourValue-img-inner {
	    min-height: 365px;
	}
	.counter-main {
	    padding: 50px 0px 50px 20px;
	}

	.companyPortfolioSlider-item {
	    padding: 35px 20px 82px;
	}
	.company-portfolio-head {
	    padding: 40px 0 40px;
	}

}

@media(max-width: 991px){


	.company-counter-innr {
	    display: block;
	}
	.counter-des {
	    width: 100%;
	    max-width: 550px;
	    margin: 0 auto;
	    padding: 50px 0 20px;
	    text-align:center!important;
	}
	.counter-main {
	    width: 100%;
	    border-left: 0;
	    padding: 20px 0 50px;
	}
	.counter-col {
	    padding: 20px 10px;
	}
	.counter-col-4,
	.counter-col-5{
		text-align: center;
		padding: 20px 0;
	}
	.counter-main span {
	    font-size: 50px;
	    line-height: 55px;
	}

	.counter-main strong {
	    line-height: 40px;
	    font-size: 32px;
	}
	.ourValue-img-inner {
	    min-height: 310px;
	}
	.ourValue-hdr {
	    padding: 50px 0 22px;
	}	

	.companyPortfolioSlider-item {
	    padding: 30px 20px 50px;
	}		
}

@media(max-width: 879px){
	.portfolio-arrows {
	    position: relative;
	    padding: 22px 0;
	}
	.portfolio-arrows span.leftArrow {
	    left: 43%;
	    /*bottom: 0;*/
	}
	.portfolio-arrows span.rightArrow {
	    right: 43%;
	    /*bottom: 0;*/
	}
}

@media(max-width: 767px){
	.counter-main span {
	    font-size: 38px;
	    line-height: 45px;
	}
	.counter-col-4,
	.counter-col-5,
	.counter-col {
	    padding: 10px;
	}
	.counter-main strong {
	    line-height: 35px;
	    font-size: 27px;
	}
	.counter-main small {
	    font-size: 13px;
	    line-height: 20px;
	}
	.ourValue-grd-wrp li {
	    display: block;
	}
	.ourValue-grd-wrp li:not(:last-child) {
	    margin-bottom: 22px;
	}
	.ourValue-grd-wrp li .ourValue-img {
	    width: 100%;
	    border-radius: 14px;
	}
	.ourValue-grd-wrp li:nth-child(2n+2) .ourValue-img{
	    border-radius: 14px;
	}
	.ourValue-grd-wrp li .ourValue-des {
	    width: 100%;
	}
	.ourValue-grd-wrp li .ourValue-des .ourValue-des-innr {
	    max-width: 570px;
	    float: none;
	    margin: 0 auto;
	    padding: 20px 15px 10px;
	}
	.ourValue-grd-wrp li:nth-child(2n+2) .ourValue-des .ourValue-des-innr {
	    float: none;
	    padding: 20px 15px 10px;
	}
	.ourValue-img-inner{
		min-height: initial;
		background: none !important;
	}
	.ourValue-img .ourValue-img-inner > img{
	    display: inline-block;
	}	
	.ourValue-grd-wrp {
	    padding-bottom: 50px;
	}
}

@media(max-width: 639px){
	
}

@media(max-width: 575px){
	.counter-col-1,
	.counter-col-2,
	.counter-col-3,
	.counter-col-4,
	.counter-col-5,
	.counter-col-6{
		width:50%
	}
	.counter-main span {
	    font-size: 32px;
	    line-height: 40px;
	}
}

@media(max-width: 479px){
	
}

@media(max-width: 359px){
	
}


