

.companyPage-aboutUs-sec{
	padding: 110px 0;
}


.companyPage-aboutUs-innr{
	max-width: 890px;
	margin: 0 auto;

}

.companyPage-about-lft,
.companyPage-about-rgt{
	width:50%;
	float: left;
	padding: 0 22px;
}

.companyPage-about-innr p{
  font-size: 18px;
  line-height: 30px;
  color: #000417;
  margin-bottom: 25px;
}
.companyPage-about-hdr h1{
	font-size: 30px;
	font-weight: 300;
	line-height: 1.67;
	color: #003fa5;
	margin-bottom: 18px;
}
.companyPage-about-hdr{
	padding-left: 22px;
}
























































