.page-banner{
	position: relative;
}
.page-banner-controller{
    min-height: 350px;
}
.page-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.page-banner-des-inner {
    padding: 0 20%;
    position: relative;
    z-index: 2;
    text-align: center;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.page-banner-des-inner div > span{
    display: block;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}
strong.banner-page-title, 
h1.banner-page-title,
.page-banner-des-inner h1,
.page-banner-des-inner strong {
    font-weight: 300;
    font-size: 45px;
    line-height: 44px;
    color: #fff;
    position: relative;
    display: block;
}
.banner-page-title span{
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
}

/*
-------------------
 Popup  Css
-------------------
*/
.ec-more-popup-sec-wrp{
    padding: 270px 0;
}
.ec-more-popup-wrp{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 65px 75px 55px;
    position: relative;
}
.ec-csr-popup-sec-wrp .ec-contact-frm-wrp span,
.ec-more-popup-wrp span {
    position: absolute;
    top: 18px;
    right: 20px;
    color: #8e8e8e;
    font-size: 12px;
    line-height: 14px;
}
.ec-more-popup-dsc{
    position: relative;
    padding-bottom: 55px;
}
.ec-more-popup-dsc:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #959595;
    opacity: 0.85;

}
.ec-more-popup-dsc h4{
    margin: 0;
    color: #003fa5;
    margin-bottom: 40px;
    font-weight: 700;
}
.ec-more-popup-dsc p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
}
.ec-more-popup-dsc p strong{
    display: inline-block;
    vertical-align: baseline;
}
.ec-more-btn a{
    display:block;
    text-decoration: none;
    text-align: right;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    color: #003fa5;
    padding-right: 18px;
    position: relative;
    margin-right: -5px;
}
.ec-more-btn{
    padding-top: 40px;
}
.ec-more-btn a:after{
    content: "\f178";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #003fa5;
    font-size: 13px;
    position: absolute;
    top: 1px;
    right: 0;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.ec-more-btn a:hover:after{
    right: -5px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*
-----------------
 Csr popup
-----------------
*/
.ec-csr-popup-sec-wrp{
    padding: 100px 0;
}
.ec-csr-popup-sec-wrp .ec-contact-frm-wrp{
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
}
.ec-csr-popup-sec-wrp .ec-contact-frm-dsc {
    padding-bottom: 35px;
    padding-right: 0;
}