.page-banner{
	position: relative;
}
.page-banner-controller{
    min-height: 350px;
}
.page-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.page-banner-des-inner {
    padding: 135px 20%;
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}
.page-banner-des-inner > span{
    display: block;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}
strong.banner-page-title, 
h1.banner-page-title,
.page-banner-des-inner h1,
.page-banner-des-inner strong {
    font-weight: 300;
    font-size: 45px;
    line-height: 44px;
    color: #fff;
    position: relative;
    display: block;
}
.banner-page-title span{
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
}