
.food-Packag-main-sec{
	margin-bottom: 135px;
}

.pro-select-two-part-con,
.food-Packag-two-part-con{
	padding-left: 60px;
	padding-right: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
.pro-select-left-part,
.food-Packag-left-part{
	width:50%;
	float: left;
	background: #e8e9ed;
	overflow: hidden;
	position: relative;
	padding: 120px 220px 133px 15px;
	border-radius: 14px 0 0 14px;
}
.pro-web-left-bg{
	position: absolute;
    right: -280px;
    top: 0;
    bottom: 0;
    width: 728px;
    background: url(../images/product-page-web-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
}


.pro-select-left-part-innr,
.food-Packag-left-part-innr{
	max-width:455px;
	float: right;
    position: relative;
    z-index: 2;
}
.pro-select-rgt-part,
.food-Packag-rgt-part{
	width:50%;
	float: left;
	background: #002854;
	border-radius: 0 14px 14px 0;
	position: relative;
	z-index: 2
}
.food-pack-pic{
	position: absolute;
	top:50%;
	left:-116px;
	z-index: 2;
	max-width: 668px;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.food-pack-pic img{
	width:100%;
}











.food-Packag-left-des h6{
	font-weight: 900;
	line-height: 25px;
	color: #002854;
	padding-top: 7px;
}
.food-Packag-left-des p{	
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 15px;
	line-height: 23px;
}

.food-Packag-left-des p span{
	display: block;
	font-weight: 400;
	margin-bottom: 18px;  
	font-size: 16px;
	font-stretch: condensed;
	line-height: 25px;
}
.food-Packag-left-des ul{	
	margin-bottom: 25px;
}
.food-Packag-left-des li{	
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 22px;
	position: relative;
	line-height: 23px;
}
.food-Packag-left-des li:after,
.pro-select-left-des li:after{
	content: "";
    position: absolute;
    width: 12px;
    height: 10px;
    background-image: url(../images/pro-property-li.png);
    background-repeat: no-repeat;
    background-size: 12px 10px;
    left: 0;
    top: 5px;
}
.food-Packag-left-des > hr {
    border: none;
    max-width: 422px;
    width: 100%;
    border-bottom: 1px solid #c7c7c7;
    margin: 0 0 35px 0;
}

.food-Packag-left-des p span {
	font-size: 15px;
	line-height: 23px;
}

.pro-select-main-sec .dropdown.bootstrap-select,
.food-Packag-main-sec .dropdown.bootstrap-select{
	margin-top: -30px;
}












@media(max-width: 1299px){
	.pro-select-two-part-con, 
	.food-Packag-two-part-con {
	    padding-left: 15px;
	    padding-right: 15px;
	}

} 


@media(max-width: 1199px){
	.food-pack-pic {
	    left: -100px;
	    max-width: 600px;
	}
	.pro-select-left-part, 
	.food-Packag-left-part {
	    padding: 100px 140px 100px 15px;
	}
} 

@media(max-width: 991px){ 

	.pro-web-left-bg {
	    display: none;
	}
	.pro-select-left-part, 
	.food-Packag-left-part,
	.pro-select-rgt-part, 
	.food-Packag-rgt-part {
	    width:100%;
	    padding:35px 15px; 
	    border-radius: 0;
	}
	.pro-select-left-part-innr, 
	.food-Packag-left-part-innr {
	    max-width: 550px;
	    float: none;
	    position: relative;
	    z-index: 2;
	    margin: 0 auto;
	}
	.food-pack-pic {
	    position: static;
	    margin: 0 auto;
	    max-width: 650px;
	    -webkit-transform: initial;
	    -moz-transform: initial;
	    -ms-transform: initial;
	    -o-transform: initial;
	    transform: initial;
	}
	.food-Packag-left-des br{
		display: none
	}
}

@media(max-width: 767px){
	.food-Packag-main-sec {
	    margin-bottom: 70px;
	}
}

@media(max-width: 639px){

}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}











































































































































