












.pro-page-logo-img{
	position: absolute;
	bottom:-20px;
	right:0px;
	z-index: 2;
}



















































































































































































