/*
--------------------------
ec-product-details-sec-wrp
--------------------------
*/
.ec-product-details-sec-wrp {
    position: relative;
    min-height: 1065px;
    overflow: hidden;
    margin-top: -14px;
    margin-bottom: -65px;
    z-index: 5;
}
.pm-product-details {
    min-height: 1240px !important;
}
.sp-product-details{
	padding-bottom: 130px;
}
.ec-product-details-rgt{
	width: 57.77%;
	float: right;
}
.mt--50{
	margin-top: -50px;
}
.productPage-slc-wrp{
	position: relative;
	z-index: 5;
}
.ec-product-details-img{
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	min-height: 908px !important;
	position: relative;
	border-radius: 10px 0 0 10px;
}
.sp-product-details .ec-product-details-img{
	position: relative;
	height: 100%;
}
.pm-product-details .ec-product-details-img{
	min-height: 1080px !important;
}
.ec-product-rgt-bg-icon {
    position: absolute;
    right: -52px;
    bottom: -170px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    width: 384px;
    height: 319px;
}
.ec-product-details-left {
    width: 42.23%;
    float: left;
    padding-left: 15px;
}
.ec-product-details-dsc {
    padding-top: 165px;
    float: right;
    max-width: 530px;
    padding-right: 90px;
}
.ec-product-details-dsc p{
	font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}
.ec-product-details-dsc > hr{
	border: none;
	max-width: 420px;
	width: 100%;
	padding-top: 25px;
	border-bottom: 1px solid #c7c7c7;
	margin: 0 0 0 0;
}

.sb-product-sec .ec-product-details-dsc p:first-of-type,
.ec-product-details-dsc p:first-of-type{
	margin-bottom: 0;
}
.pm-product-dsc p:first-of-type{
	margin-bottom: 30px;
}
.sp-product-details-dsc > strong{
	padding-top: 32px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.ec-product-details-dsc p{
	margin-bottom: 15px;
}
.sp-product-details .ec-product-icon {
    margin-top: 35px;
    padding-top: 40px;
}
.sb-product-sec .ec-product-details-dsc p{
	margin-bottom: 33px;
}
.sb-product-sec .ec-product-details-dsc ul {
    padding-bottom: 25px;
}
.pm-product-details .ec-product-details-dsc p {
    margin-bottom: 35px;
}
.pm-product-details .ec-product-details-dsc ul {
    padding-bottom: 58px;
}
.pm-product-details .ec-product-details-dsc p:last-of-type {
    margin-bottom: 15px;
}
.sb-product-sec .ec-product-details-dsc p:last-of-type{
	margin-bottom: 30px;
}
.sb-product-sec .ec-product-icon {
    padding-top: 15px;
}
.ec-product-details-dsc p{
	color: #000;
}
.ec-product-details-dsc strong,
.ec-product-details-dsc p > strong{
	display: inline-block;
	vertical-align: baseline;
}
.ec-product-details-dsc h2{
	margin: 0;
	color: #000417;
	margin-bottom: 30px;
	letter-spacing: 0.78px;
	font-family: 'RobotoBlack';
}
.ec-product-details-dsc ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}
.ec-product-details-dsc ul li{
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #000417;
	padding-left: 25px;
	background: url(../images/product-ary-icon.png);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: left top 1px;
	padding-bottom: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
.ec-product-details-dsc > strong{
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 8px;
	display: block;
}
.ec-product-icon{
	border-top: 1px solid #c7c7c7;
	padding-top: 30px;
	margin-right: 35px;
}
.ec-product-icon span{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 28px;
}
.ec-product-details-sec-wrp .productPage-slc-wrp{
	padding-top: 30px;
}

@media(max-width: 1399px){
	.ec-product-details-dsc {
	    padding-top: 130px;
	    padding-right: 50px;
	}
}
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.ec-product-details-dsc {
	    padding-top: 50px;
	    padding-right: 30px;
	}
	.ec-product-details-btn {
	    float: none;
	    padding-top: 30px;
	    max-width: 240px;
	    width: 100%;
	    margin: 0 auto;
	}
	
	.ec-product-rgt-bg-icon {
	    right: -15px;
	    bottom: -144px;
	    width: 280px;
	    height: 270px;
	}
	.sp-product-details-dsc > strong {
	    padding-top: 25px;
	}
	

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.pm-product-details .ec-product-details-img {
	    min-height: 880px !important;
	}
	.ec-product-details-sec-wrp {
	    margin-top: 0;
	    margin-bottom: 0;
	    padding: 50px 0 0;
	}
	.ec-product-details-rgt {
	    width: 100%;
	    position: static;
	    padding: 0 15px;
	}
	.productPage-slc-wrp-2{
		padding-top: 40px;
	}
	.pm-product-details .ec-product-details-img {
	    min-height: 980px !important;
	}
	.ec-product-details-img {
	    min-height: 700px !important;
	}
	.ec-product-details-left {
	    width: 100%;
	    float: left;
	}
	.ec-product-details-sec-wrp .productPage-slc-wrp {
	    float: none;
	    padding-top: 30px;
	}
	.ec-product-details-dsc p br{
		display: none;
	}
	.ec-product-details-dsc {
	    padding-top: 70px;
	    max-width: 100%;
	    width: 100%;
	}
	.ec-product-rgt-bg-icon {
	    right: -45px;
	}


}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.ec-product-details-img {
	    min-height: 600px !important;
	}
	.sp-product-details .ec-product-details-img {
	    min-height: 700px !important;
	}
	.pm-product-details .ec-product-details-img {
	    min-height: 780px !important;
	}
	.ec-product-details-dsc h2{
		margin-bottom: 25px;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.ec-product-details-img {
	    min-height: 500px !important;
	}
	.sp-product-details .ec-product-details-img {
	    min-height: 600px !important;
	}
	.pm-product-details .ec-product-details-img {
	    min-height: 600px !important;
	}
	.ec-product-rgt-bg-icon {
	    bottom: -100px;
	    width: 200px;
	    height: 190px !important;
	}
	.ec-product-details-dsc {
	    padding-right: 0;
	    padding-top: 50px;
	}

}


@media(max-width: 479px){
	.ec-product-details-img {
	    min-height: 400px !important;
	}
	.sp-product-details .ec-product-details-img {
	    min-height: 500px !important;
	}
}



@media(max-width: 359px){

}

